[2014-07-30 08:21] alex254 opened #1 "Powermatcher website needed"
A website is needed to attract new users and developers.
- [x] Mission statement
- [x] Mention licence
- [x] List of software functions
- [x] development status
- [x] Coding guidelines (where to find)
- [x] Communication channels
- [x] Issues (Where to find)
- [x] To do list
- [x] How to install
- [x] Introduction video
- [x] How projects relate to each other
- [x] Add PowerMatcher youtube video (

[2014-07-30 10:04] Sander3003 opened #2 "CLA needed"
To prevent legal issues, we have to look at CLA's.

[2014-07-30 13:58] Sander3003 opened #3 "Add CONTRIBUTING.md to projects"
Contributing.md can contain:
- [x] website
- [x] Code of conduct
- [x] Legal notice
- [x] Guidelines

[2014-07-30 14:00] Sander3003 opened #4 "Add project to Ohloh.net"
Adding the projects to https://code.ohloh.net/ can help to promote the project.

[2014-07-30 14:02] Sander3003 opened #5 "Make VM/container for end-user testing"
We can use e.g. Docker for this of and classic VM

[2014-07-30 14:53] Sander3003 commented on #1
Example: https://developer.rackspace.com/blog/walk-n-doc/

[2014-07-31 08:05] Sander3003 opened #6 "PowerMatcher code online"

[2014-07-31 08:11] Sander3003 opened #7 "Add test procedures to wiki"

[2014-07-31 08:15] Sander3003 opened #8 "Short text about the current release policy on the wiki"

[2014-07-31 08:17] Sander3003 opened #9 "Community governance"

[2014-07-31 08:20] Sander3003 opened #10 "Demo environment needed"
Users should have a low barrier to test the FPAI/PowerMatcher software, a demo evironment can help with this.

[2014-07-31 08:21] Sander3003 opened #11 "Easy installation needed (PowerMatcher simulator)"
- Easy installation is lowers te barrier of using PowerMatcher/FPAI.
- Add documentation of the simulator

[2014-07-31 08:28] Sander3003 opened #12 "Add a community part to flexiblepower.org and cleanup download section"
Flexiblepower.org need to point to github and the powermatcher website.
- [ ] Cleanup download section
- [ ] Translate all dutch text
- [ ]  Add a community section

[2014-07-31 09:24] #6 closed, assigned to wilcowijbrandi

[2014-07-31 09:28] wilcowijbrandi opened #13 "Create wiki page about code guidelines"

[2014-07-31 12:52] marcdejonge commented on #13
Done, see https://github.com/flexiblepower/fpai-core/wiki/CodingConventions

[2014-07-31 12:52] #13 closed, assigned to marcdejonge

[2014-07-31 14:23] Sander3003 opened #14 "PowerMatcher tutorials/documentation need"
Documentation needed to get new developers started

[2014-07-31 15:09] Sander3003 opened #15 "Limited process description needed to get new developers started"
- [x] On-boarding process
- [x] Code review process
- [x] Test process
- [x] Bug tracking process
- [x] New features process

[2014-08-01 06:26] Sander3003 commented on #13
Has the powermatcher project the same guidelines?

[2014-08-01 06:45] marcdejonge commented on #13
Not yet. There is still some work needed to refactor  the PowerMatcher code.

On Fri, Aug 1, 2014 at 8:26 AM, Sander Jansen notifications@github.com
wrote:

[2014-08-04 09:54] Sander3003 opened #16 "Cleanup PowerMatcher code"
Remove all unnecessary code from the PowerMatcher branch.

[2014-08-08 15:43] Sander3003 commented on #1
First text added to:
http://flexiblepower.github.io/powermatcher/

[2014-08-15 13:09] Sander3003 commented on #14
https://github.com/flexiblepower/powermatcher/tree/master/com.ibm.matrixv.doc/doc can be every use-full.
- [x] Move documentation to the github wiki

[2014-08-20 08:24] Sander3003 opened #17 "PowerMatcher promotion - Business users"
Current approach idea's:
*Connect with potential users/partners and make appointments to meet with them on the EUW
*Promote on Linkedin (All FAN members and related individuals)
*Promote within your own network (All FAN members and related individuals)
*Website powermatcher.org needs to be ready!
*2 week before the EUW start:send out an press message
*Fist 2 days @ the EUW: meet potential users an

[2014-08-20 08:26] Sander3003 commented on #17
@alex254 will help me out with this

[2014-08-20 09:44] #4 closed, assigned to nobody

[2014-08-21 08:46] Sander3003 opened #18 "PowerMatcher promotion - Developers"
- [x] JavaOne presentation
- [x] J-fall (http://www.nljug.org/nieuws/call-papers-j-fall-2014-geopend/)
- [x] Organise Hacketon
- [x] Connect PowerMatcher with current home-automation (bv apple homekit)
- [x] Make "cool" demo's to get developers intrested.

[2014-08-22 06:54] marcdejonge commented on #17
We're also busy on creating a new release. Hopefully this will be done by October. One part of this release is a demonstration that can be downloaded and run by anyone. Maybe something to add to the list?

[2014-08-25 16:05] Sander3003 commented on #17
Done

[2014-08-26 07:22] Sander3003 commented on #16
Moved to the Power Matcher repository.

[2014-08-26 07:22] #16 closed, assigned to wilcowijbrandi

[2014-08-28 09:15] wilcowijbrandi commented on #10
I have create a zip containing a preconfigured FPAI with a small PowerMatcher cluster and some simulated devices. It also contains a nice manual that explains how to get it running and what it does. What would be the best place to put it? On the github pages?

[2014-08-28 09:55] alex254 commented on #10
yea create a new respository and call it somethig like "Start Here!"

[2014-08-28 10:01] wilcowijbrandi commented on #10
I don't think that's a good idea. This demo is just to see something move quickly. For new developers we're already working on the fpai-examples repository.

[2014-08-28 10:49] marcdejonge commented on #10
What about the releases of the fpai-demo repository? We can store the zip
there and reference to it from the Wiki.

On Thu, Aug 28, 2014 at 12:01 PM, Wilco Wijbrandi notifications@github.com
wrote:

[2014-08-28 12:28] Sander3003 commented on #10
Github (pages) might be the best way (if this works).

[2014-08-29 09:02] Sander3003 commented on #8
I think we need some explanation about the branching strategy as well.

[2014-08-29 09:42] Sander3003 opened #19 "Describe (basic) processes"

[2014-08-29 11:16] Sander3003 commented on #5
There is a demo.

[2014-08-29 11:16] #5 closed, assigned to nobody

[2014-08-29 11:31] Sander3003 commented on #11
Next release..

[2014-08-29 12:18] Sander3003 opened #20 "Check the current demo and manual on errors/isssues"
Please report your findings here!

[2014-08-29 12:24] Sander3003 commented on #9
Choose maintainers for the sub projects/brenches:
Basic choices are made.

[2014-08-29 12:27] Sander3003 commented on #14
Only the basic documentation will be available by the time the EUW is around.

[2014-08-29 12:27] Sander3003 commented on #19
Double with other issue

[2014-08-29 12:27] #19 closed, assigned to nobody

[2014-08-29 12:40] Sander3003 opened #21 "Write a description of each repository to add to the website"
The result can be pasted here.

[2014-08-29 13:22] Sander3003 opened #22 "Improve documentation setup (gitbook instead of github wiki)"
A nightly build (in PDF) of the current wiki's would be nice.

[2014-08-29 13:32] Sander3003 commented on #12
We also need to cleanup the download section of flexiblepower.org

[2014-08-29 14:13] Sander3003 commented on #1
@victor481 will help with this as well

[2014-08-29 14:22] Sander3003 commented on #12
@victor481 Can you write a text for the community part?

[2014-09-01 15:27] wilcowijbrandi commented on #20
It's online at http://flexiblepower.github.io/downloads/PowerMatcherSuite_13.10_Demo.zip

[2014-09-02 07:33] Sander3003 commented on #20
https://github.com/flexiblepower/flexiblepower.github.io/blob/master/downloads/PowerMatcherSuite_13.10_Demo.zip?raw=true Works better

[2014-09-02 09:08] Sander3003 commented on #20
Demo works fine for me. Feature request: Display a message in the terminal that the demo started. With the suggestion that you can open a browser to go to localhost:8080.

[2014-09-03 11:23] Sander3003 commented on #17
This are the options to get the news out on the EUW:
- EUW press database
- event website
- EUW Newsletter and targeted emailshots
- Engerati

http://portal.european-utility-week.com/shareyournews

[2014-09-03 11:29] Sander3003 commented on #15
This could me a help: http://heff.github.io/contributing/#/32

[2014-09-03 11:40] Sander3003 opened #23 "Open source project review"
Motown.io and others can write their community review comments there.

[2014-09-03 14:55] alex254 commented on #17
And the EUW goody bag?

Van: Sander Jansen [mailto:notifications@github.com]
Verzonden: woensdag 3 september 2014 13:24
Aan: flexiblepower/FAN-wiki
CC: Krstulovic, Alexander
Onderwerp: Re: [FAN-wiki] PowerMatcher promotion - Business users (#17)

This are the options to get the news out on the EUW:
-   EUW press database
-   event website
-   EUW Newsletter and targeted emailshots
-   Engerati

ht

[2014-09-03 17:07] Sander3003 commented on #17
I send an e-mail to the EUW organisation and asked for the possibilities.
Answer: Only sponsors can put stuff in the conference bag.

[2014-09-06 07:20] Sander3003 commented on #1
Make sure to set UTF-8 in eclipse.

https://help.github.com/articles/page-build-failed-file-is-not-properly-utf-8-encoded

[2014-09-11 07:11] Sander3003 commented on #1
The website will be moved to flexiblepower.github.io.

Website setup:
![image](https://cloud.githubusercontent.com/assets/7427358/4230357/ad21d032-3982-11e4-8028-d04f920c0db7.png)

The first content draft will be ready 24 September.

[2014-09-17 13:41] Sander3003 commented on #3
Waiting for the CLA discussion result...

[2014-09-17 13:42] Sander3003 commented on #7
What is the progress on this topic?

[2014-09-17 13:44] Sander3003 commented on #8
What is the progress on this topic?

[2014-09-17 14:29] Sander3003 commented on #15
https://github.com/flexiblepower/FAN-wiki/wiki/Bug-tracking-process @flexiblepower/powermatcher-developers @flexiblepower/fpai-developers can you review the process and report your findings here?

[2014-09-19 08:34] LoekJa commented on #15
- Combine point 1 and 2: Report using following URL's and include as much as possible background on the bug.
- At point 3: what if the bug report is a duplicate?
- At point 4: what happens if a developer cannot reproduce/has to little info/does not understand/disagrees (no bug).
- At point 6: when is a patch accepted? Who makes the descision?

[2014-09-23 09:37] Sander3003 commented on #15
Thanks for the feedback, I made some changes.

[2014-09-23 09:47] Sander3003 commented on #9
Update: There is discussion about this topic with the FAN.

[2014-09-25 08:22] Sander3003 commented on #1
Website moved to flexiblepower.github.io and redirected trafic from flexiblepower.github.io/powermatcher to flexiblepower.github.io. More menu's pages added to the website bar. @alex254 @victor481

[2014-09-25 08:24] Sander3003 commented on #1
Where to we want to place: "How projects relate to each other" (what is in the github repositories)?

[2014-09-25 13:42] Sander3003 opened #24 "Device drivers list needed for website"
What device drivers are currently available?

[2014-09-26 12:17] Sander3003 commented on #24
@wilcowijbrandi @alex254 will make a list of current drivers: end of next week

[2014-09-26 12:43] Sander3003 opened #25 "FPAI-core tutorial"

[2014-09-26 13:12] Sander3003 opened #26 "FOSDEM: Call for participation: main tracks and developer rooms"
@marcdejonge will send @sander3003 some examples
Needs to be done before 1 of October.

[2014-09-29 07:10] Sander3003 opened #27 "To discuss"
Maintainers
Keep some bugs open for new developers
Who has access to twitter.com/powermatcher
Names current github users

[2014-09-30 09:42] Sander3003 commented on #26
@marcdejonge the deadline is tomorrow

[2014-09-30 12:44] marcdejonge commented on #26
I sent you the abstracts...

[2014-09-30 12:44] marcdejonge commented on #24
See https://github.com/flexiblepower/fpai-devices/blob/development/README.md

[2014-09-30 12:52] marcdejonge commented on #7
See https://github.com/flexiblepower/fpai-core/wiki/ContinuousIntegration

[2014-09-30 12:52] #7 closed, assigned to marcdejonge

[2014-09-30 13:06] marcdejonge commented on #8
For branching I've added a piece to the coding conventions

https://github.com/flexiblepower/fpai-core/wiki/CodingConventions#branching

[2014-09-30 14:53] Sander3003 commented on #26
Done, Thanks for your input!

[2014-10-01 08:49] wilcowijbrandi commented on #24
The S0 driver should also be added to that list (and repository)

[2014-10-01 13:16] Sander3003 opened #28 "Upload config tool for PowerMatcher"

[2014-10-01 13:20] Sander3003 commented on #1
@alex254 will add his content
@victor481 will merge the buisiness cases information
Send out current content for review 9 oct.

[2014-10-01 19:34] Sander3003 commented on #24
Added to: http://flexiblepower.github.io/in-practice/

[2014-10-03 06:38] Sander3003 opened #29 "http://fpai-ci.sensorlab.tno.nl:8080/ is not accessible"
Can somebody fix this?

[2014-10-03 08:08] wilcowijbrandi commented on #29
Port 80 works fine from the Internet, port 8080 only from the TNO network. Probably something with the firewall. @marcdejonge ?

[2014-10-03 11:11] #8 closed, assigned to marcdejonge

[2014-10-03 12:56] Sander3003 opened #30 "Review core/ non-core text"
https://github.com/flexiblepower/FAN-wiki/wiki/Governance

Can you take a look at this?

I will ask @LoekJa as well.

[2014-10-06 08:57] wilcowijbrandi commented on #30
I was thinking of making the separation something like this:

**Core**
Major changes, such as
- Changes in the PowerMatcher protocol
- Changes in behaviour of PowerMatcher agents
- Changes in PowerMatcher cluster configuration
- Changes in the FPAI Energy Flexibility Interface (EFI)
- Changes in FPAI Application specifications
- Changes in FPAI remote management protocol

**Non-core**
Minor change

[2014-10-06 12:09] Sander3003 commented on #30
Thanks for your input. I will discuss it with Loek as well.

[2014-10-10 08:24] #30 closed, assigned to wilcowijbrandi

[2014-10-10 11:19] #14 closed, assigned to LoekJa

[2014-10-10 11:20] #15 closed, assigned to Sander3003

[2014-10-10 11:40] Sander3003 opened #31 "Send in website info graphs to @alex254"
Allign all content with the website style.

[2014-10-10 12:11] Sander3003 commented on #9
To be discussed with Richard

[2014-10-10 12:13] Sander3003 commented on #27
@wilcowijbrandi and @marcdejonge are the maintainers for FPAI (related) code

[2014-10-10 12:13] #27 closed, assigned to nobody

[2014-10-10 12:14] Sander3003 commented on #12
Will be ready on 15th October. Please paste the result here!

[2014-10-10 12:55] Sander3003 commented on #17
New versions:
![pmside](https://cloud.githubusercontent.com/assets/7427358/4592526/b65d7b4a-507c-11e4-88dc-21f0b120b106.png)
![fanside](https://cloud.githubusercontent.com/assets/7427358/4592527/b67b1510-507c-11e4-975c-6516a2de4735.png)

[2014-10-10 18:13] wilcowijbrandi commented on #17
Cool! Ik zou alleen even concequent zijn met hoe je de namen van de presentators schrijft (met of zonder achternaam). De URL onderaan moet natuurlijk http://www.flexiblepower.org zijn (de '//' is weggevallen). Is het overigens handig om de Q&A sessie er ook op te zetten?

[2014-10-13 08:27] Sander3003 commented on #17
What did Claudia say about the Q&A workshop/session?

[2014-10-13 11:51] Sander3003 commented on #17
Thanks for the feedback, here is a new version:
![pmside](https://cloud.githubusercontent.com/assets/7427358/4612916/279e3746-52cf-11e4-8c1b-b58a4b6e6e2c.png)
![fanside](https://cloud.githubusercontent.com/assets/7427358/4612917/2af13272-52cf-11e4-8376-72431061acbe.png)
More feedback is appreciated!

[2014-10-13 11:53] Sander3003 commented on #17
@wilcowijbrandi Do you have a vectorfile of the "Flexibepower Alliander Network THE POWERMATCHER FOUNDATION" logo (used on flexiblepower.org)?

[2014-10-13 12:35] Sander3003 opened #32 "FAN board basic github introduction"
- What is github?
- Where to find the code?
- Where to find the documentation?
- Where to find the website?
- How to send in a pull request? (Demo would be nice)
- How to fork?
- Questions

More items are welcome

[2014-10-13 12:38] Sander3003 commented on #1
@victor481 can you upload your latest changes to send the review?

[2014-10-14 07:24] Sander3003 opened #33 "Review http://flexiblepower.github.io/ content"
Please report your findings here or send in a pull request!

[2014-10-15 11:23] Sander3003 opened #34 "EUW Q&A session approach"
- FAN related people send out invitations and replies to @Sander3003 (via e-mail)
- Promote this session on Linkedin
- Sander sends them an Outlook invitation and keeps track of the people who accept this invention
- If there are seats left, on the EUW, more people can be invited

[2014-10-16 12:14] alex254 commented on #28
uploaded!

[2014-10-16 12:14] #28 closed, assigned to alex254

[2014-10-16 12:20] Sander3003 commented on #28
Please add a LICENCE and README.md FILE.

[2014-10-21 12:57] victor481 commented on #12
The website you are currently visiting is the website of the Flexible-power Alliance Network (FAN). The FAN is a non-profit organization which exists in order to help develop and distribute the PowerMatcher Suite. The actual product website for the PowerMatcher Suite is located at http://www.powermatcher.org/.

PowerMatcher Suite is an innovative software solution for exchanging electricity betwee

[2014-10-23 10:59] Sander3003 commented on #2
Contribute.md added with CLA. This is the solution for now.

[2014-10-23 10:59] #2 closed, assigned to Sander3003

[2014-10-23 11:20] Sander3003 commented on #3
I added CONTRIBUTING.md to almost all repositories (except the FAN-wiki repository). Feedback is welcome @flexiblepower/community-council

[2014-10-23 11:21] Sander3003 commented on #9
Still waiting for a response.

[2014-10-23 11:49] Sander3003 commented on #17
Repositories added to openhub.net
https://www.openhub.net/p/powermatcher

https://www.openhub.net/p/fpai-core

[2014-10-23 11:54] Sander3003 commented on #17
A widget could be added to the website.

https://www.openhub.net/p/powermatcher/widgets

[2014-10-23 11:56] Sander3003 commented on #31
Done

[2014-10-23 11:56] #31 closed, assigned to nobody

[2014-10-23 11:57] Sander3003 commented on #34
Once the website is ready, we can promote the project on Linkedin e.g.

[2014-10-23 11:59] Sander3003 commented on #33
Richards input: add more FPAI to the website, Maybe we could add a Why FPAI page?

[2014-10-24 07:43] wilcowijbrandi commented on #33
I think it's very important that we make clear what the PowerMatcher, the FPAI and the PowerMatcherSuite exactly is. Maybe we should make an infographic which gives an overview and put it on the homepage.

Also, I agree with Richard. PowerMatcher and FPAI are both seperate technologies, which don't depend on each other. But together they are of course a very strong combination. ;) They both deserv

[2014-10-24 10:37] wilcowijbrandi commented on #33
My proposal for the menu structure:
- **Home** PowerMatcher vs. FPAI infographic
- **News**
- **PowerMatcher**
  - **Why PowerMatcher**
  - **Business case** (now: PowerMatcher Businesscases)
  - **Features**
  - **PowerMatcher explained** (now: Technology)
- **FPAI**
  - **Why FPAI** (new)
  - **The FPAI platform** (new)
  - **Connected devices** (now: Existing practices)
- **In practice**
  - **

[2014-10-24 11:35] alex254 commented on #33
- Discussion on the correct menu structure was inconclusive; left for next time with bigger group
- @wilcowijbrandi makes infograph with powermatcher & fpai for homepage
- More content FPAI or less content PowerMatcher

[2014-10-24 11:50] alex254 commented on #12
- piece too generic
- mention more concrete open source benefits of using fpai & pm; like easy driver development, hobbyists etc

[2014-10-24 11:51] #10 closed, assigned to wilcowijbrandi

[2014-10-24 11:53] #3 closed, assigned to Sander3003

[2014-10-24 18:11] wilcowijbrandi opened #35 "Let powermatcher.org/net/com forward to flexiblepower.github.io"

[2014-10-27 08:58] Sander3003 commented on #12
@wilcowijbrandi please contact Bert den Ouden about this topic

[2014-10-27 13:05] Sander3003 commented on #32
Done

[2014-10-27 13:05] #32 closed, assigned to Sander3003

[2014-10-30 15:11] #1 closed, assigned to Sander3003

[2014-10-30 15:12] #9 closed, assigned to Sander3003

[2014-10-30 15:19] alex254 commented on #12
@victor481 Victor can you update the text?

[2014-10-30 15:37] alex254 opened #36 "Why FPAI content copy"
zie FPAI wiki

[2014-10-30 15:38] alex254 commented on #35
https://help.github.com/articles/setting-up-a-custom-domain-with-github-pages/

[2014-10-30 15:45] alex254 opened #37 "Set your github account to public on Flexiblepower projects"
@flexiblepower/powermatcher-developers
@villgust

[2014-11-02 16:04] #36 closed, assigned to alex254

[2014-11-03 21:12] Sander3003 commented on #37
https://github.com/orgs/flexiblepower/people @alex254

[2014-11-03 21:13] Sander3003 commented on #35
Works, Thanks!

Please redirect other powermatcher domains as well to prevent confusion ;)

[2014-11-03 22:32] #35 closed, assigned to wilcowijbrandi

[2014-11-14 12:53] Sander3003 commented on #34
Done

[2014-11-14 12:53] #34 closed, assigned to Sander3003

[2014-11-14 12:54] Sander3003 commented on #17
Done

[2014-11-14 12:54] #17 closed, assigned to Sander3003

[2014-11-14 12:54] Sander3003 commented on #20
Is this done?

[2014-11-28 12:10] #11 closed, assigned to LoekJa

[2014-11-28 12:18] #25 closed, assigned to jankazemier

[2014-11-28 12:25] #37 closed, assigned to nobody

[2014-11-28 12:27] Sander3003 opened #38 "New link to powermatcher.org on old powermatcher.net website"

[2014-11-28 12:55] Sander3003 commented on #33
Add fork me on github button or other github link.

[2014-12-12 10:49] Sander3003 commented on #26
My lightning talk proposal is rejected. I will take a look whats going on.

[2014-12-12 10:49] #26 closed, assigned to Sander3003

[2014-12-12 11:03] Sander3003 commented on #33
[plaatje] is missing on http://flexiblepower.github.io/technology/powermatcher/

[2014-12-17 08:12] Sander3003 commented on #29
Interesting option: https://developer.github.com/guides/building-a-ci-server/

[2015-01-23 12:22] Sander3003 opened #39 "Naming strategy PowerMatcher"
Is powermatcher version 2.0 the bestname or could we better change this to e.g. version 5?

[2015-01-23 12:24] Sander3003 commented on #38
We could add this to the FAN marketing initiative.

[2015-01-23 12:29] Sander3003 opened #40 "New name for FPAI"
FAN and community members are looking for a more accessible name for FPAI. Names are welcome here until 4 of Feb 2015. Put your suggestions here!

[2015-01-23 12:30] Sander3003 commented on #40
OpenEMF (Open energy management framework) (Thanks to @wilcowijbrandi )

[2015-02-04 14:46] #40 closed

[2015-02-18 11:03] Sander3003 opened #41 "PowerMatcher maintainer"
We need to appoint a powermatcher maintainer.

[2015-02-18 12:01] Sander3003 commented on #12
This issue will be addressed by the FAN marketing imitative.

[2015-02-18 12:01] #12 closed

[2015-02-23 12:24] Sander3003 opened #42 "Maven central"
Should we add our project to maven central? This might help to promote the project.

http://search.maven.org/

http://central.sonatype.org/

[2015-02-23 12:29] marcdejonge commented on #42
Adding it to maven central requires the project to be a maven project, which ours are not.

We could possibly add them to jCenter (https://bintray.com/bintray/jcenter)

[2015-02-27 12:14] Sander3003 commented on #20
Add improvments in the new release.

[2015-02-27 12:18] Sander3003 commented on #21
Based on Marc's e-mail

[2015-02-27 12:22] Sander3003 commented on #21
Add bundle information and repository information, please upload to website.

[2015-02-27 12:32] Sander3003 commented on #22
Will be done by gitbooks. FPAI wil start first.

@alex254 can help with PowerMatcher

[2015-02-27 12:32] #23 closed

[2015-02-27 12:34] Sander3003 commented on #24
@konsmanmj can you help us out with this? Please add them to: http://flexiblepower.github.io/in-practice/driver-list/

[2015-02-27 12:37] Sander3003 commented on #29
@jvdgeest can you help @marcdejonge with this?

[2015-02-27 12:40] Sander3003 commented on #33
Thanks @alex254 !

[2015-02-27 12:40] #33 closed

[2015-02-27 12:49] Sander3003 commented on #39
Let's keep is 2.0!

[2015-02-27 12:49] #39 closed

[2015-02-27 12:54] Sander3003 commented on #41
Alexander will ask Look to help out.

[2015-02-27 12:58] #42 closed

[2015-02-27 13:11] Sander3003 opened #43 "Website update: Feature requests"
Please add your website feature requests here:
*Github ribbon on website (Fixed)
*FAN member logo's in random order (Fixed)

[2015-02-27 13:17] Sander3003 commented on #38
@alex254 will discuss this issue with Stedin

[2015-02-27 13:20] Sander3003 commented on #22
Example: http://gitbookio.gitbooks.io/javascript/

[2015-02-27 13:20] marcdejonge commented on #29
Fixed it. Now jenkins serves the main page, but you can easily click through the builds :)

http://fpai-ci.sensorlab.tno.nl/

[2015-02-27 13:20] #29 closed

[2015-02-27 13:21] Sander3003 commented on #29
Nice, good work!

[2015-03-05 07:47] Sander3003 commented on #22
Inspiration for the new setup: https://www.youtube.com/watch?v=kP3R6WBbbTY
A "fix this page" button would be nice for newbees to easily add documentation improvements.

Disable github wiki's where needed (see settings)

[2015-03-05 15:52] Sander3003 commented on #43
Change Google analytics (google) to an other party? Google analytics information is not public available without Google account and permissions. Open data could help others to see the popularity of the website.

[2015-03-06 08:18] Sander3003 commented on #43
Development activity indicator

[2015-03-08 09:18] wilcowijbrandi commented on #22
Nice talk! We should maybe also add a chapter in the documentation about the documentation itself, and on how to improve it.
Anyway, I have put everything in Jenkins for the fpai-documentation. Builds (html and pdf) end up here, sorted by branch: http://fpai-ci.sensorlab.tno.nl/builds/fpai-documentation/
I think that the jenkins server is fine for intermediate versions. When we have a final releas

[2015-03-09 06:59] Sander3003 commented on #22
Can you add a ""fix this page" button to the html version?
An epub file would be nice as well.

[2015-03-09 18:20] wilcowijbrandi commented on #22
Found a plugin! :)
http://plugins.gitbook.com/plugin/edit-link

I'll look into it!

[2015-03-09 21:02] Sander3003 commented on #22
Nice! This makes it easy to edit for everyone!

[2015-03-20 12:29] alex254 commented on #38
PowerMatcher.net has been switched over!

[2015-03-20 12:29] #38 closed

[2015-03-20 12:32] Sander3003 commented on #38
Good job!

[2015-03-20 14:01] alex254 commented on #24
Tip from somebody; to extend this Driver list with pictures of the actual devices and links to the manufacturers!

[2015-04-03 11:30] #41 closed

[2015-04-16 15:04] Sander3003 opened #44 "What is de status of the PowerMatcher 2.0 release?"
The download link is still the old version. @marcdejonge I'd like to publish the new release news item!

[2015-04-24 12:29] Sander3003 opened #45 "Talk @OSCON"
OSCON is comming to europe this year (Amsterdam),
@alex254 or @wilcowijbrandi could summit a talk?

Deadline: 11 may

http://www.oscon.com/open-source-eu-2015

Let me know what you think!

[2015-04-24 13:46] Sander3003 opened #46 "Fix FAN-wiki"
We need to change the links in the FAN-wiki. I'm thinging about to add the questions and bug report links to readme.md instead of this wiki. What do you guys think?

Old setup
PowerMatcher bug report
Powermatcher-Frontend bug report
FPAI-core bug report
FPAI-devices bug report
FPAI-powermatcher bug report
FPAI-shared-config bug report
FPAI-examples bug report

New-setup
fpai-examples
powermatcher

[2015-04-28 18:06] Sander3003 commented on #45
Some inspiration: http://opensource.com/life/15/4/powermatchersuite-tool-producing-energy

[2015-05-22 10:33] Sander3003 commented on #45
@alex254 summited a proposal

[2015-05-22 10:33] #45 closed

[2015-05-22 10:34] Sander3003 commented on #44
What about the demo version?

[2015-05-22 10:36] Sander3003 opened #47 "How to handle new documentation versions?"
Can we always link to the dev-version?

[2015-05-22 10:36] Sander3003 opened #48 "Are their FPAI 15.04 release notes available?"

[2015-05-22 10:56] Sander3003 commented on #47
Block FPAI wiki?

[2015-05-22 11:13] Sander3003 commented on #44
All fixed!

[2015-05-22 11:13] #44 closed

[2015-05-22 11:18] #43 closed

[2015-05-22 11:19] Sander3003 opened #49 "Update Discuss & FAQ website pages"

[2015-05-22 11:22] Sander3003 opened #50 "add a ""fix this page" button"
Can you add a ""fix this page" button to the html version?
An epub file would be nice as well.

http://plugins.gitbook.com/plugin/edit-link

[2015-05-22 11:22] #22 closed

[2015-05-22 11:23] Sander3003 commented on #21
Fixed in Github repository overview.

[2015-05-22 11:23] #21 closed

[2015-05-22 11:24] Sander3003 commented on #20
Fixed so far with new release

[2015-05-22 11:24] #20 closed

[2015-05-22 11:27] Sander3003 opened #51 "IoT academy NL"
Look for possibilities

[2015-06-26 08:13] Sander3003 commented on #49
Works! http://flexiblepower.github.io/get-involved/discuss/

[2015-06-26 08:13] #49 closed

[2015-06-26 08:13] Sander3003 commented on #46
Should be fixed now, Only FPAI-documentation could use some improvement (merge of wiki and gitbook).

[2015-06-26 08:13] #46 closed

[2015-06-26 08:16] Sander3003 opened #52 "FPAI vs EF-Pi"
How do we prevent confusion between these names?

[2015-06-26 11:19] Sander3003 commented on #52
Sander wil ask the FAN about the status.

[2015-06-26 11:26] Sander3003 commented on #48
Fixed

[2015-06-26 11:26] #48 closed

[2015-06-26 14:45] Sander3003 commented on #24
Hi guys, I fixed the broken links on the PowerMatcher website (Thanks to @Bob-Ran / @wilcowijbrandi ) for the tips. I updated the FPAI driver table (with FPAI-apps as resource). Links to actual devices are still missing.

[2015-07-23 11:18] Sander3003 opened #53 "Minimatcher"
Hardware implementation of Virtual FPAI demo.

[2015-07-23 11:28] Sander3003 commented on #51
on-going

[2015-08-28 11:28] Sander3003 commented on #24
Fixed!

[2015-08-28 11:28] #24 closed

[2015-08-28 11:29] #18 closed

[2015-08-28 11:38] Sander3003 opened #54 "Ask for english power matching city results"
The english version is still missing.

See:
http://www.powermatchingcity.nl/site/pagina.php?id=73

[2015-08-28 11:43] Sander3003 opened #55 "Suggestions for powermatcher.org content: interviews"
[ ] Interview with powermatcher/FPAI users.
-How did you came agross PowerMatcher/FPAI?
-How do you use powermatcher/FPAI?
-How is de support from the community?
-How do you contribute back to the community?

[ ] Interview with developers/promotors
-How did you get involved in Powermatcher/FPAI technology?
-What is your role in the Powermatcher/FPAI community?
-What are your main drivers to work o

[2015-09-16 13:41] Sander3003 opened #56 "I quit as community manager for the PowerMatcherSuite"
Hi Guys,

Together with my manager I deiced to quit my part-time role as the PowerMatcherSuite community manager. I will stop after the EUW this year. I can't combine it any longer with my other activities.

Gr Sander

[2015-09-16 15:38] wilcowijbrandi commented on #56
Hi Sander,

It is a pity to hear you are not able to participate in the community council anymore. Thanks for all your help. You did a great job bootstrapping the FAN development community!

Cheers,
Wilco

[2015-10-13 15:51] wilcowijbrandi commented on #50
(Finally) Done!
Check it out: http://fpai-ci.sensorlab.tno.nl/builds/fpai-documentation/development/html/
I'll also add this to the PowerMatcher documentation

[2015-10-13 17:22] Sander3003 commented on #50
Nice job!

[2015-10-16 14:05] Sander3003 opened #57 "OSCON 2015"
Do we want to speak @OSCON 2015 USA?

http://conferences.oreilly.com/oscon/open-source/public/cfp/423

[2015-10-23 10:45] Sander3003 commented on #54
Done and published: http://flexiblepower.github.io/Power-Matchting-City-succesfull/

[2015-10-23 10:45] #54 closed

[2015-10-23 10:46] Sander3003 commented on #52
Names are changed on the powermatcher.org website.

[2015-10-23 10:47] Sander3003 commented on #47
FPAI github wiki is removed! Thanks to @wilcowijbrandi

[2015-10-23 10:47] #47 closed

[2015-10-23 11:19] Sander3003 commented on #53
Ready @euw 2015

[2015-10-23 11:19] Sander3003 commented on #53
Movie would be nice ;)

[2015-10-23 11:19] #53 closed

[2015-10-23 11:20] Sander3003 opened #58 "Minimatcher video"

[2015-10-23 11:24] Sander3003 commented on #51
[ ] Generate workshop idea = smart fridge
 [ ] Workout workshop concept
 [ ] Organize workshop
 [ ] Presentation

[2015-10-23 11:29] Sander3003 opened #59 "Improve OSGi documentation"

[2015-10-23 11:30] Sander3003 opened #60 "Improve peakshaving documentation PowerMatcher"

[2015-10-23 11:30] Sander3003 opened #61 "Add troubleshoot section in documentation (or improve)"

[2015-10-23 11:33] Sander3003 opened #62 "Remove BND file(s)?"
Related to some trouble with installation of FPAI as discussed in the community counsil 23-10-2015.

[2015-10-23 11:48] Sander3003 commented on #52
@wilcowijbrandi will send the financial constraits to the FAN (Bert)

[2015-11-06 10:50] Sander3003 opened #63 "Look for a new website and Twitter maintainer"
Henri (FAN) did not (yet) agree to take over the powermatcher.org website and PowerMatcher twitter maintenance. The community council should adress this topic. Please invite Henri for the community council meetings.

[2015-11-06 10:55] #56 closed

[2015-11-17 16:23] oscon commented on #57
Sorry, no!

[2015-12-03 11:46] Roebu57 opened #64 "Question:My Question"
I am trying to get started with PowerMatcher and have been trying out the fpai-apps-runtime-release-15-05 demo. It starts up, prints out lots of debug and info message and I can log into the FlexiblePower demo screen. Beyond that, however, it does not appear to do anything interesting. I can see various devices (storage, smartpv, dishwasher, uncontrolled simulation, powermatcher) but they don't ap

[2015-12-03 11:51] alex254 commented on #64
Hi Rob,

When you start up on of the scenario’s, you can click on for instance the cloud in the PV simulationwidget to change it to the sun. You will see that the PV will start to produce more and hence the price in the powermatcher will go down and the dishwasher will turn on. If you like a more in depth walkthrough we can schedule a call and I can walk you through the basics, it will save you ti

[2015-12-03 11:58] alex254 commented on #64
Ah actually the managers might not be connected to the drivers... can you click on the 'dashboard button'..it will open up the 'connections' page..some elements might have lossed their connection: please connect as follows:

pv simulation -> uncontrollable manager -> powermatcher
dishwasher -> timeshifter manager - > powermatcher
storage -> buffer manager -> powermatcher
uncontrolled simulation ->

[2015-12-03 11:58] Roebu commented on #64
Alex,

Thanks for the quick response.

I tried that but, as soon as I click on the sun, it reacts briefly (I see the power output go up to 2000W or so) but then almost immediately goes back to 0W again.

[2015-12-03 11:59] alex254 commented on #64
see my last reply

[2015-12-03 12:01] Roebu commented on #64
I see the following:
pv simulation -> uncontrollable manager -> powermatcher controller
battery simulation -> battery manager -> -> powermatcher controller

The connections seem to be the same regardless of which demonstration I choose in the demo scenario box.

[2015-12-03 12:13] Roebu commented on #64
This might be an idea.

Quite possibly. I'd first like to get a better understanding of what exactly PowerMatcher can do.

[2015-12-03 13:28] alex254 commented on #64
sure lets schedule a call, could you email me on alexander.krstulovic@alliander.com?  I am in the us until next week wednesday, so preferably after that.

[2015-12-18 13:18] alex254 opened #65 "Clearify Pull request procedure to outside world"

[2015-12-18 13:23] alex254 opened #66 "Throw away examples repo"
Check documentation for references

[2015-12-18 13:25] #62 closed

[2015-12-18 13:27] alex254 commented on #59
- explain how to use repositories.bnd

[2015-12-18 13:28] #58 closed

[2016-01-15 07:40] singhvivekanand opened #67 "Unable to run powermatcher source code"
Getting no output when trying to run the bnd.bnd file using run OSGI button. It does not throw any error nor any output.
![screenshot from 2016-01-15 12 50 25](https://cloud.githubusercontent.com/assets/14212972/12347995/4a53b2ba-bb89-11e5-9c25-7a4247ef3f53.png)

[2016-01-18 16:15] wilcowijbrandi commented on #67
Hi singhvivekanand, good you're getting in touch with us! Judging your screenshot, I think you opened the .bnd file. If you want to run the code, you should open the .bndrun file. If you hit the 'Run OSGi' butten there, OSGi should be starting.

What is it you exactly want to achieve with the PowerMatcher code? The PowerMatcher repository contains mainly API's and generic agents; it doesn't actual

[2016-04-04 13:01] JamesPiggott opened #68 "How to start Ef-pi modules automatically"
I am working on an energy balancing module called Ebalance at the Universiteit Twente that uses the EFPI drivers to steer a washing machine, dryer, pv and a smart meter. In the documentation of EFPI http://fpai-ci.sensorlab.tno.nl/builds/fpai-documentation/development/html/RunningExamples.html there is a lengthy description on how to start the modules. However, can this be achieved automatically w

[2016-04-05 13:58] wilcowijbrandi commented on #68
Good question! First of all, the idea is that configurations (so both components and connections) are stored persistently. Eclipse however, clears this by default. You can change this behavior in Eclipse by going to "Run" -> "Run Configurations..." and disable "Clean storage area before launch." at your .bndrun file. Be aware, this is a bit nasty if you change the configuration paramaters of compo

[2016-04-11 11:11] alex254 commented on #68
I think his question is if you can spawn drivers and agents during runtime (dynamically) without the use of an XML file....?

[2016-04-25 08:39] wilcowijbrandi commented on #68
Sure, it is also possible to interact to create and remove components such as drivers from code. We use the OSGi service 'Configuration Admin', or ConfigAdmin for short, to instantiate and remove components.

Actually, this is what the scenario manager does. [Here](https://github.com/flexiblepower/fpai-apps/blob/development/flexiblepower.demo.scenario/src/nl/tno/fpai/demo/scenario/impl/ScenarioMan

[2016-09-12 09:19] singhvivekanand opened #69 "How to run PowerMatcher on two or more different ports simultaneously."
I want to run PowerMatcher to run on two different port in same browser at a time. I am able to change Port number using command statement { -runproperties: org.osgi.service.http.port=8082}  (i.e from 8080 to 8082). However I would like to run two instances simultaneously on 8080 and 8082.

[2017-01-31 11:44] Roebu57 opened #70 "Building PowerMatcher"
Is it possible to build PowerMatcher without using Eclipse? I want to set up a "headless" build, i.e. one that can run unattended.

[2017-01-31 11:46] Roebu57 opened #71 "Testing PowerMatcher"
In [section 8](https://fan-ci.sensorlab.tno.nl/builds/powermatcher-documentation/master/html/Tests.html) of the PowerMatcher doc, it mentions that unit and integration tests are available. How can these be run from the command line?

[2017-01-31 13:23] #64 closed

[2017-02-01 13:44] wilcowijbrandi commented on #70
Yes, that is certainly possible! You can use Gradle for building (and testing). When checking out the git repository don't forget to also checkout the git submodule (use `git submodule init` and `git submodel update`). Please note that the Gradle scripts do not work with every version of Gradle. I use Gradle 2.5 and this works fine.

`gradle tasks` gives you an overview of all possible build tasks

[2017-02-01 13:45] wilcowijbrandi commented on #71
See my answer to #70.

[2017-02-01 13:45] #71 closed

[2017-02-01 13:45] #70 closed

[2017-02-07 07:40] Roebu57 opened #72 "Building PowerMatcher fails"
Hi,

Thank you for the prompt response to issue #70. I followed your instructions (which I see are also in the online [tutorials ](https://github.com/flexiblepower/FAN-wiki/issues/70)- sorry, should have read this more thoroughly).

The build generates a net.powermatcher.core.jar file but then appears to fail (see attached file).  This is Gradle 2.10.  Any ideas?

Thanks, - Rob
[gradleout.txt](htt

[2017-03-06 16:47] derdem opened #73 "[ERROR] Jetty stopped (no connectors available)"
Hi all,

I recently discovered the PowerMatcher and started looking into it. However, after setting up the IDE and trying run the example I received the message from the headline. I addition, I received this message:

[ERROR] Failed to start Connector: ServerConnector@6aeb35e6{HTTP/1.1}{0.0.0.0:8080}
java.net.BindException: Address already in use: bind

I tried to find the process which uses this

[2017-03-06 18:53] wilcowijbrandi commented on #73
Hi Niko,

Well, you already give the answer yourself: the port that PowerMatcher tries to use for its web interface is already in use. I would say that the easiest way to find out which process is using that port is pointing your webbrowser to http://localhost:8080 and see what comes up. Depending on your OS I'm sure there are plenty of tools that can help you figure out which process is occupying

[2017-03-07 07:48] Roebu commented on #72
Please ignore this, I don't know why I was having problems building PM.

[2017-03-07 07:48] #72 closed

[2017-03-07 07:51] Roebu commented on #73
**netstat -anp** should do the trick

[2017-03-07 08:03] derdem commented on #73
Changing the port helped.

It is still a mystery to me why my 8080 port won't work. I tried to figure out what is occupying it through both methods. In the list from netstat this port is not listed and opening http://localhost:8080/ in my webbrowser just gives me an error message: Access Error: 404 -- Not Found.

Anyway changing the port was successful. Thanks Wilco.

Cheers,
Niko

[2019-03-13 21:10] schipleon opened #74 "Starting demo"
![image](https://user-images.githubusercontent.com/48533342/54314625-789a2380-45dc-11e9-9b68-ae1befcb1d57.png)

Hi! I don't know whether Dutch is allowed, so I will start in English. I'm trying to open the demo, but I'm getting the errors in the screenshot. What am I doing wrong?

Is there btw a how-to manual to start-up or something? Thanks for the help!

Best, Leon

[2019-03-22 12:26] wilcowijbrandi commented on #74
Thanks for getting in touch! You're doing nothing wrong! These lines are not errors, but just some internal logging. EF-Pi should be up-and-running as normal. You can probably access EF-Pi on http://localhost:8080 (depending on your configuration).

To be honest, I'm a bit surprised the demo distribution doesn't contain any documentation. Probably got lost somewhere along the way. Since this demo